<div id="app">
    <input type="text" v-model="menuVm.menuModel.menuName">
  @*   <input type="text" v-model="roomVm.roomModel.createDate">
    <input type="text" v-model="roomVm.roomModel.createBy">
    <input type="text" v-model="roomVm.roomModel.updateDate">
    <input type="text" v-model="roomVm.roomModel.updateBy"> *@
    <input type="hidden" v-model="token" value="@HttpContext.Session.GetString("token")"/>
    <button v-on:click="AddRoom"></button>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/js/repository/baserepo.js"></script>
<script src="~/js/repository/menurepo.js"></script>
<script type="text/javascript">

    var app = new Vue({
        el: "#app",
        data: {
            token:"",
            menuVm: {
                menuModel: {
                    menuName: ""
                }
            }
        },
        methods: {
            AddRoom: function () {
                var menuRepo = new MenuRepo(token);
                menuRepo.Add(this.menuVm);
            }
        }
    });
</script>
